<section id="add">
	<form action="/" method="post">
		<textarea name="content" placeholder="Your note&hellip"></textarea>
		<input type="submit" value="Take note!">
	</form>
</section>

<% # display notes %>